__pycache__/
*.py[cod]
.venv/
*.egg-info/
build/
dist/
output/
node_modules/
packages/easywindowspack/assets/
packages/create-ewp/templates/common/backend/base/
packages/create-ewp/templates/common/scripts/
packages/create-ewp/templates/common/build.cmd
packages/create-ewp/templates/common/LICENSE
packages/*/LICENSE
