__pycache__/
*.py[cod]
.venv/
*.egg-info/
build/
dist/
output/
node_modules/
frontend/packages/easywindowspack/assets/
frontend/packages/create-ewp/templates/common/frontend/src/assets/
frontend/packages/create-ewp/templates/common/backend/base/
frontend/packages/create-ewp/templates/common/scripts/
frontend/packages/create-ewp/templates/common/startup.cmd
frontend/packages/create-ewp/templates/common/LICENSE
frontend/packages/*/LICENSE
